$background-grey: #f6f7f8;
$hover-blue: #87dec65e;
$fresh-blue: #87dec6;
$frozen-pink: #ff715b;
$button-blue: #0398f6;
$font-primary: #323232;
$font-secondary: #8c8c8c;
$product-color-red: #ff715b;
$product-color-green: #48cfad;
$product-color-blue: #0398f6;
$white: #fff;
$listing-background: #f9f9f9;
$modal-background: rgba(158, 158, 158, 0.4);
